[Unit]
Description=Weekly restart and container update for immich

[Timer]
OnCalendar=Sun *-*-* 04:00:00
RandomizedDelaySec=30m
Persistent=true
Unit=immich-update.service

[Install]
WantedBy=timers.target
